@model IEnumerable<Khayati.ServiceContracts.DTO.CustomerResponseDto>
@{
    ViewData["Title"] = "Customer Page";
}
<h3 class="text-center text-danger">Add Customer</h3>


<div class="card">
    <div class="card-header " style="background-color:aliceblue">
        <h3 class="card-title">Responsive Hover Table</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" spellcheck="false" data-ms-editor="true">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td> @customer.CustomerName</td>
                        <td>@customer.DateOfBirth</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.EmailAddress</td>
                    </tr>

                }


            </tbody>
        </table>
    </div>

</div>
